*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css start */
.common-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
background-color: #30B868;
padding: 12px 16px;
border:none;
border-radius: 4px;
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
cursor: pointer;
transition: blue 0.9s;
}

button:hover {
  background-color: lightblue;
  color: black;

}

/* common css End */

/* nav start */
header{
    padding-top: 16px;
    color: #FFFFFF;
    
}
nav{
    width: 85%;
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .nav-menu ul{
display: flex;
gap: 32px;
}
nav .nav-menu ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
/* navEnd */

/* hero start */

#hero-banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
   

}

.hero-container{
    text-align: center;
    
    
}

.hero-container .hero-early{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5px;
    padding-top:130px ;
}
.hero-container .hero-early  h4{
     color: #30B868;
     text-align: center;
     
}
.hero-container h1{
    color: #FAFAFA;
    font-size: 72px;
    font-weight: 700;
    padding-top: 16px;
}
.hero-container span{
    color: #30B868;
}
.hero-container p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
}
.hero-container .hero-btn{
    padding-top: 32px;
    padding-bottom: 147px;
}

 .hero-container .color-chang{
    background-color: transparent;
    border: 1px solid white;
}
/* hero End */

/* note section start */
#notes{
text-align: center;
}

.notes-container{
    width: 81%;
    max-width:1350px ;
    margin: 0 auto;
    
}

.notes-container h2{
    padding-top: 40px;
    font-style: Bold;
    font-size: 48px;
}
.notes-container p{
    font-size: 15px;
    margin-top: 16px;
}

.notes-container .notes-card{
    display: flex;
    gap: 15px;
    
}

.card-sec{
    box-shadow: 0px 0px 8px #627382;
    margin-top: 30px;
    padding: 83px 24px 20px 24px;
    border-radius: 8px;

    
}

.card-sec .cercale{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
}
.card-sec .cercale img{
    margin-top: 14px;
}
.card-sec h1{
    padding-top: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #001931;
}
.card-sec p{
    padding-top: 16px;
    font-size: 14px;
    color: #627382;
    

}

/* note section end */

/* solution start */
#solution{
background-color: #FFFFFF;
}
.solution-container{
    width: 81%;
    max-width:1350px ;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.solution-container .solution-content h2{
    color:#30B868 ;
    font-size: 16px;
    font-weight: 500;
}
.solution-container .solution-content h1{
    color:#001931 ;
    font-size: 46px;
    font-weight:bold;
    padding-top: 16px;

}
.solution-container .solution-content p{
    color:#627382 ;
    font-size: 17px;
    padding-top: 16px;
    line-height: 20px;

}


.solution-content .content-lists{
    padding-top: 40px;
    
    
}

.solution-content .content-lists .list{
    display: flex;
    align-items: center;
    gap:6px;
    
}
.solution-container .solution-content h4{
    color:#627382 ;
    font-size: 17px;
    line-height: 35px;

}
/* solution End */

/* Ready Section start */
#ready{
    margin-top: 120px;
}
.Ready-container{
    width: 81%;
    max-width:1350px ;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding-top: 80px;
    text-align: center;
}

.Ready-container h2{
    font-size: 40px;
    font-weight: 700;
} 
.Ready-container p{
    font-size: 16px;
    color: #627382;
    padding-top: 16px;
} 
.Ready-container button{
  margin-top: 20px;
}
.Ready-container h1{
  font-size: 16px;
  color: #627382;
  padding-top: 16px;
  padding-bottom: 80PX;
}

/* Ready Section End */

/* footer start */
footer{
    background-color: rgb(1, 39, 55);
    margin-top:120px;
}
.footer-conti{
    width: 81%;
    max-width:1350px ;
    margin: 0 auto;
    padding-top: 50px;
}
.footer-img-conte{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-img-conte .list h1{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.footer-img-conte .list ul{
    list-style: none;
    display: flex;
    gap: 5px;
    padding-top: 16px;
    padding-bottom: 80PX;
}

.footer-conti hr{
   color: #FAFAFA;
}
.footer-conti p{
    font-size: 13px;
    color: #FAFAFA;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}